

  @media (min-width: 992px) {
    .theme-menu-one .logo{
      width: 180px !important;
  }
  .theme-menu-one .logo {
      position: absolute;
      top: 2px;
      right: 62px;
      z-index: 3;
}
.theme-menu-one.fixed .logo{
  position: absolute;
  top: -24px;
  left: 23px;
  z-index: 3;
  width: 180px !important;

}
  }
  /*************************************************************/
  @media (max-width: 1550px) {
   
  }
  /*************************************************************/
  @media (min-width: 1200px) and (max-width: 1366px) {

  }
  /*************************************************************/
  @media (min-width: 992px) and (max-width: 1450px) {
    .theme-menu-one .logo{
        width: 138px !important;
    }
    .theme-menu-one .logo {
        position: absolute;
        top: 17px;
        right: 30px;
        z-index: 3;
  }
  .theme-menu-one.fixed .logo{
    position: absolute;
    top: -24px;
    left: 23px;
    z-index: 3;
    width: 180px !important;
  
  }
  .navbar-expand-lg .navbar-collapse{
    padding-right: 45px;
  }
}
  /*************************************************************/
  @media (max-width: 1199px) {
 
  }
  /*************************************************************/
  @media (min-width: 992px) and (max-width: 1550px) {
    
  }
  /*************************************************************/
  @media (min-width: 992px) and (max-width: 1350px) {
  }
  /*************************************************************/
  @media (min-width: 992px) and (max-width: 1199px) {

  }
  /*************************************************************/
  @media (max-width: 991px) {
    .theme-menu-one .logo {
      position: absolute;
      top: 16px;
      z-index: 3;
      right:5px;
    }
    .about-div{
      height:auto;
    }
    .about-us-standard .single-block{
      height: auto;
    }
    .message-div .single-block{
      padding-top:0px !important;
    }
    .our-team .theme-title-one{
      padding-bottom: 0px;
    }
    .message-div{
      padding-top: 0px !important;
    }
    .theme-title-one{
      margin-bottom: 0px !important;
    }
    .agn-about-us .learn-more{
      position: absolute;
      bottom: -84px !important;
    }
    .forgotpassword form{
      display: contents;
    }
  } 
  /*************************************************************/
  @media (min-width: 768px) and (max-width: 991px) {
  
  }
  /*************************************************************/
  @media (min-width: 650px) and (max-width: 991px) { 
  
  }
  /*************************************************************/
  @media (max-width: 649px) { 
    
  }
  /*************************************************************/ 
  @media (max-width: 767px) {
 
  }
  /*************************************************************/
  @media (min-width: 576px) and (max-width: 767px) {
   
  }
  /*************************************************************/
  @media (max-width: 575px) {
    
  }
  /*************************************************************/
  @media (max-width: 500px) {
  

  }
  /*************************************************************/
  @media (max-width: 350px) {
   
  }
  /*************************************************************/
  @media (max-width: 430px) {
   
  }
  /*************************************************************/

  .top-footer .logo {
    width: 140px !important;
   }
   .agn-what-we-do .single-block p{
       height: 40px !important;
   }
   .agn-about-us .learn-more{
    position: absolute;
    bottom: -57px;
    left: 0;
  }
  .agn-about-us .img-box .main-img{
    height: 350px;
    border: 2px solid #233d63;
  }
  .theme-title-one .main-title{
    font-size: 43px;
  }
  .agn-about-us .img-box:before{
    border: 2px solid #ff666d;
    background: none;
  }
  .agn-home-blog{
    padding: 135px 0 0px;
  }
  .agn-counter-section .main-wrapper{
    padding-bottom: 0px;
  }
  .message-div{
    padding-top: 45px;
  }
  .message-div .single-block{
    padding-top: 35px;
  }
  .message-div .row{
    display:flex;
    justify-content: center;
  }
  
  .our-team .theme-title-one .upper-title{
    color:rgb(255 58 70);
  }
  .solid-inner-banner{
    background:#3e6d8d0d;
    height: 370px;
    padding: 204px 0 0;
  }
  .solid-inner-banner .page-title{
    color: #244578;
  }
  .about-div{
    border: 2px solid #244578;
    border-radius: 4px;
    padding: 33px;
    height: 280px;
  }
  .about-div-container{
    margin: 0 30px;
  }

  .element-tile-two{
    font-size: 36px;
    color: #244574;
    text-align: center;
  }

  .about-row{
    display:flex;
    justify-content: space-between;
  }

  .theme-tab-basic.theme-tab .tabs-menu li a{
    color: #233d63;
  }
  .about-us-standard .single-block p{
    color: #233d63;
    font-size: 17px;
  }
  .about-us-standard .single-block .block-title{
    font-size: 30px;
    color: #244574;
  }
  .send-idea-select{
    width: 100%;
    height: 60px;
    padding: 0 15px 0 30px;
    color: #989ca2;
    border: 1px solid #e7e7e7;
    margin-bottom: 30px;
  }
  /* [type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 100px;
  }
  .custom{
    width:30% !important;
    margin-bottom:30px !important;
  } */
  .blog-filter-title .upper-title{
    color:rgb(255 58 70);
  }
.theme-title-one{
  margin-bottom: 26px;
}
#file{
  border:none;
}
.radioInput{
  height:19px !important;
}
.radioLabel{
  line-height: 25px !important;
}

.theme-footer-four .about-widget p{
  padding: -1px 0 35px 80px !important;
}
.logPhoto{
  width: 39px ;
    border: 1px solid #ff3a46;
    border-radius: 50%;
    padding: 0px;
}

.theme-menu-one .header-right-widget{
  left:60px !important;
}
.adjust{
  display: flex;
  align-content: center;
  align-items: baseline;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
}

.adjust a{
  color:#ff3a46 !important;
}

.adjust a:hover{
  color:black !important;
}

.theme-main-menu .theme-menu-one{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    align-items: center !important;
    align-content: center !important;
}